.App {
  text-align: center;
  background-image:
  linear-gradient(135deg, rgba(255, 255, 255, 0.877) 25%, transparent 25%), 
  linear-gradient(45deg, #FFC6E0 25%, transparent 25%),
  linear-gradient(135deg, #FFC6E0 75%, rgba(255, 255, 255, 0.877) 75%),
  linear-gradient(45deg, #FFC6E0 75%, rgba(255, 255, 255, 0.877) 75%);
  background-size: 20px 20px; /* Must be a square */
  background-position:0 0, 10px 0, 10px -10px, 0 10px; /*must be half of background size*/
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
  box-sizing: border-box;
}
.header{
  position: absolute;
  left: 13%;
  width: 75%;
  height: 15%;
}
.header h1{
  color: #7B287D;
  font-size: 40px;
}
.my-widget{
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  background-color: grey;
  border-radius: 5px;
  float: right;
  color: #FCF6BD;
  position: relative;
  right: 0%;
  top: 5px;
  padding: 12px;
}
.body{
  background-color: #A9DEF9;
  position: absolute;
  bottom: 0px;
  left: 13%;
  width: 75%;
  height: 84.5%;
  padding-top: 3%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-flow: column;
  transition: all 0.25s ease;
}
.title{
  color: #7067CF;
  font: Helvetica, Sans-Serif;
  width: 50%;
}
.pick-title{
  color: #FF99C8;
}
.pictures{
  border-radius: 20px;
  width: 60%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
}
.pictures section {
  height: 150px;
  width: 25%;
  margin: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
  background-color: transparent;
  color: #330C2F;
  font-size: 20px;
}

.checking-state-num{
  color: #FF99C8;
}
.state-num{
  color: whitesmoke;
  font-size: 20px;
}

@keyframes hilite{
  20% {transform: translateY(4px)};
  100% {transform: translateY(8px)};
}
.title:hover{
  color: white;
  animation: hilite 2s ease;
  background-color: #7067CF;
  animation-iteration-count: 1;
  transform: inherit;
}
.my-box{
  background-color: white;
  width: 250px;
  color: #330C2F;
  height: 100px;
  box-sizing: border-box;
  border: solid 7px #E4C1F9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
@keyframes wiggle{
  20% {transform: translateX(6px);}
  40% {transform: translateX(-6px);}
  60% {transform: translateX(3px);}
  80% {transform: translateX(-1px);}
  100% {transform: translateX(0px);}
}
.my-box:hover{
  animation: wiggle 3s ease;
  animation-iteration-count: 2;
  transform: inherit;
}